<div class="priority-queue">
    <div class="form-inline row mb-2">
      <button
        type="button"
        class="btn btn-primary mr-1"
        [disabled]="!implementation"
        (click)="createPriorityQueue()"
      >
        Create Priority Queue
      </button>
      <div class="form-group">
        <label class="mr-1" for="datastructure">using</label>
        <select class="form-control mr-1" (change)="setImplementation($event.target.value)">
          <option value="select" selected hidden>Select implementation</option>
          <option value="min-heap-array">Min heap array</option>
        </select>
      </div>
      <div class="form-group">
        <label class="mr-1" for="adt_size">of the initial size</label>
        <input class="form-control mr-1" [disabled]="implementation === 'singly-linked-list'" type="number" value="5" min="5" max="20" #size />
      </div>
    </div>
    <div class="priority-queue __animationWrapper">
      <div class="priority-queue __animationArea">
        <template #animationArea></template>
      </div>
      <div class="priority-queue __animationArea">
        <template #treeArea></template>
      </div>
    </div>
  
    <div class="form-inline row mt-2">
      <button
        type="button"
        class="btn mr-1 btn-primary"
        [disabled]="elements.length == 0"
        (click)="pushStack()"
      >
        Insert
      </button>
      <input
        class="form-control mr-1"
        type="number"
        name="add_value"
        title="value to insert"
        #newElement
        [disabled]="elements.length == 0"
        placeholder="Numeric element value"
      />
      <button
        type="button"
        class="btn mr-1 btn-primary"
        [disabled]="elements.length == 0"
        (click)="getMinimum(true)"
      >
        Remove minimum
      </button>
      <button
        type="button"
        class="btn mr-1 btn-primary"
        [disabled]="elements.length == 0"
        (click)="getMinimum(false)"
      >
        Get minimum
      </button>
      <b #result></b>
    </div>
    <div class="form-inline row">
      <div class="form-group">
        <label for="anim_speed">Animation speed:&nbsp;</label>
        <input
          class="input-control"
          type="range"
          min="10"
          max="5000"
          value="1500"
          style="direction: rtl"
          #animationSpeed
        />
      </div>
    </div>
  </div>
  