<div class="priority-queue">
  <div class="form-inline row mb-2">
    <button
      mat-raised-button
      color="primary"
      class="mr-1"
      [disabled]="!implementation"
      (click)="createPriorityQueue()"
    >
      CREATE QUEUE
    </button>
    <div class="form-group">
      <label class="mr-1" for="datastructure">using</label>
      <select class="form-control mr-1" (change)="setImplementation($event.target.value)">
        <option value="select" selected hidden>Select implementation</option>
        <option value="min-heap-array">Min heap array</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-2" for="adt_size">of the initial size</label>
      <mat-form-field class="size_input">
        <input
          matInput
          class="form-control mr-1"
          [disabled]="implementation === 'singly-linked-list'"
          type="number"
          value="5"
          min="5"
          max="20"
          #size
        />
      </mat-form-field>
    </div>
  </div>
  <div class="priority-queue __animationWrapper">
    <div class="priority-queue __animationArea">
      <template #animationArea></template>
    </div>
    <div class="priority-queue __animationArea">
      <template #treeArea></template>
    </div>
  </div>

  <div class="form-inline row mt-2">
    <button
      mat-raised-button
      color="primary"
      class="mr-1"
      [disabled]="elements.length == 0"
      (click)="pushElement()"
    >
      INSERT
    </button>
    <input
      class="form-control mr-1"
      type="number"
      name="add_value"
      title="value to insert"
      max="999"
      #newElement
      [disabled]="elements.length == 0"
      placeholder="Number - max 999"
    />
    <button
      mat-raised-button
      color="primary"
      class="mr-1"
      [disabled]="elements.length == 0"
      (click)="getMinimum(true)"
    >
      REMOVE MINIMUM
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mr-1"
      [disabled]="elements.length == 0"
      (click)="getMinimum(false)"
    >
      GET MINIMUM
    </button>
    <input matInput class="form-control mr-1" disabled type="text" #result />
    <div class="form-group">
      <label for="anim_speed">Animation speed:&nbsp;</label>
      <mat-slider
        class="input-control"
        thumbLabel
        color="primary"
        invert
        tickInterval="1000"
        value="1500"
        min="10"
        max="5000"
        #animationSpeed
      ></mat-slider>
    </div>
  </div>
</div>
