<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html">DSAV</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column text-center">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/stack">
                            Stack
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/queue">
                            Queue
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/priority-queue">
                            Priority Queue
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col pt-1 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
