<mat-sidenav-container>
  <mat-sidenav #snav mode="over">
    <mat-nav-list>
      <b>Choose visualisation:</b>
      <a
        mat-list-item
        *ngFor="let route of routes"
        (click)="snav.close(); navigationClick(route.name)"
        >{{ route.value.charAt(0).toUpperCase() + route.value.slice(1) }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-top-bar __wrapper" [class.example-is-mobile]="mobileQuery.matches">
      <div class="app-top-bar __menu">
        <button mat-icon-button (click)="snav.toggle()"><i-bs name="list"></i-bs></button>
      </div>
      <div class="app-top-bar __title">
        <h6>Aberystwyth University</h6>
        <h1>Visualisation of Data Structures and Algorithms</h1>
      </div>
      <div class="app-top-bar __logo">
        <img src="/assets/Logo.png" />
      </div>
      <div class="app-top-bar __language">
        <mat-form-field floatLabel="never">
          <mat-select value="EN">
            <mat-option value="EN">EN</mat-option>
            <mat-option value="DE">DE</mat-option>
            <!--<mat-option value="FR">FR</mat-option>
              <mat-option value="PL">PL</mat-option>
              <mat-option value="CY">CY</mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="app-content __wrapper">
      <div class="app-content __visualisation __container">
        <div class="app-content __visualisation __info">
          <h1>{{ title }}</h1>
          <div class="app-content __visualisation __info --description">
            <pre>
                    {{ description }}
            </pre>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <hr />
    <div class="app-footer __wrapper">
      <p>Ver.0.40</p>
      <p>Author: <a href="http://dawidwozniak.online/">Dawid Wozniak</a></p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
