<div class="app-top-bar __wrapper">
  <div class="app-top-bar __menu">
    <i-bs name="list"></i-bs>
  </div>
  <div class="app-top-bar __title">
    <h6>Aberystwyth University</h6>
    <h1>Visualisation of Data Structures and Algorithms</h1>
  </div>
  <div class="app-top-bar __logo">
    <img src="/assets/Logo.png" />
  </div>
  <div class="app-top-bar __language">
    <mat-form-field floatLabel="never">
      <mat-select value="EN">
        <mat-option value="EN">EN</mat-option>
        <mat-option value="DE">DE</mat-option>
        <!--<mat-option value="FR">FR</mat-option>
        <mat-option value="PL">PL</mat-option>
        <mat-option value="CY">CY</mat-option>-->
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr />
<div class="app-content __wrapper">
  <div class="app-content __visualisation __container">
    <div class="app-content __visualisation __info">
      <h1>Stack</h1>
      <div class="app-content __visualisation __info --description">
        <p>Use animation below to see how the stack works.
        <br />You can create an array and linked-list version of the size from 5 to 20.</p>
      </div>
    </div>
    <major-project-stack></major-project-stack>
  </div>
  <hr />
  <div class="app-content __visualisation __container">
    <div class="app-content __visualisation __info">
      <h1>Queue</h1>
      <div class="app-content __visualisation __info --description">
        <p>Use animation below to see how the queue works.
        <br /> You can create a circular array and doubly linked-list version of the size from 5 to 20.</p>
      </div>
    </div>
    <major-project-queue></major-project-queue>
  </div>
  <hr />
  <div class="app-content __visualisation __container">
    <div class="app-content __visualisation __info">
      <h1>Priority Queue</h1>
      <div class="app-content __visualisation __info --description">
        <p>Use animation below to see how the priority queue works.
          <br />You can create a heap array dversion of the size from 5 to 20.</p>
      </div>
    </div>
    <major-project-priority-queue></major-project-priority-queue>
  </div>
</div>
<hr />
<div class="app-footer __wrapper">
  <p>Ver.1.00</p>
  <p>Author: <a href="http://dawidwozniak.online/">Dawid Wozniak</a></p>
</div>
