/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto%20Mono");

* {
    font-family: 'Roboto Mono', sans-serif;
}

.size_input {
    width: 2rem;
    text-align: center !important;
}

.element-wrapper {
    display: flex;
    flex-direction: row-reverse;

    &.--no-reverse {
        flex-direction: row;
    }
}