<div class="stack">
  <div class="form-inline row mb-2">
    <button
      type="button"
      class="btn btn-primary mr-1"
      [disabled]="!implementation"
      (click)="createStack()"
    >
      Create Stack
    </button>
    <div class="form-group">
      <label class="mr-1" for="datastructure">using</label>
      <select class="form-control mr-1" (change)="setImplementation($event.target.value)">
        <option value="select" selected hidden>Select implementation</option>
        <option value="simple-array">Simple array</option>
        <option value="singly-linked-list">Singly linked list</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-1" for="adt_size">of size</label>
      <input class="form-control mr-1" [disabled]="implementation === 'singly-linked-list'" type="number" value="5" min="5" max="20" #size />
    </div>
  </div>
  <div class="stack __animationWrapper">
    <div class="stack __animationArea">
      <template #animationArea></template>
    </div>
  </div>

  <div class="form-inline row mt-2">
    <button
      type="button"
      class="btn mr-1 btn-primary"
      [disabled]="stackElements.length == 0"
      (click)="pushStack()"
    >
      Push
    </button>
    <input
      class="form-control mr-1"
      type="number"
      name="add_value"
      title="value to insert"
      #newElement
      [disabled]="stackElements.length == 0"
      placeholder="Numeric element value"
    />
    <button
      type="button"
      class="btn mr-1 btn-primary"
      [disabled]="stackElements.length == 0"
      (click)="lastElementStack(true)"
    >
      Pop
    </button>
    <button
      type="button"
      class="btn mr-1 btn-primary"
      [disabled]="stackElements.length == 0"
      (click)="lastElementStack(false)"
    >
      Peek
    </button>
    <b #result></b>
  </div>
  <div class="form-inline row">
    <div class="form-group">
      <label for="anim_speed">Animation speed</label>
      <input
        class="input-control"
        [disabled]="stackElements.length == 0"
        type="range"
        min="2"
        max="200"
        style="direction: rtl"
      />
    </div>
  </div>
</div>
